@model UstTestWeb.Controllers.Rss
@{
    ViewBag.Title = "RSS Feed";
}
<br />
<div class="row">
    <div class="col-md-6">
        <label><h3>RSS Feed</h3></label>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-primary" onclick="location.reload();">Refresh RSSFeed</button>
    </div>
</div>

<div id="MainContent"></div>

<div class="row">
    <div class="col-md-12">
        @{
            if (Model.Channel.Item.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th width="25%">Title</th>
                            <th width="45">Description</th>
                            <th width="10">Category</th>
                            <th width="20">Push Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Channel.Item)
                        {

                            <tr>
                                <td ><a href="@item.Link" target="_blank">@item.Title</a></td>
                                <td>@(new HtmlString(item.Description))</td>
                                <td>@item.Category[0]</td>
                                <td>@item.PubDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="well well-lg">Queue is empty</div>
            }
        }

    </div>
</div>

